* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./sea-7039471_960_720.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  align-items: center;
  flex-direction: column;
  /* margin-top: 50px; */
}

.header {
  font-size: 50px;
  margin-top: 2rem;
  color: #5e0231;
  margin-bottom: 20px;
}

.input {
  margin-top: 1rem;
  width: 45vw;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  text-decoration-style: none;
  border-bottom: 2px solid white;
  margin-right: 1rem;
}
.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.btn {
  width: 120px;
  padding: 2px;
  font-size: 20px;
  border-radius: 15px;
}

.text {
  font-size: 20px;
  margin-bottom: 5px;
}

.city {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.5rem;
  margin: 2rem;
}

.card {
  border-radius: 20px !important;
  box-shadow: 10px 20px lightblue;
  min-height: 25rem !important;
}

.card-body {
  min-height: 420px;
}

.card-body p {
  font-size: 60px;
}

.card-text {
  font-size: 25px;
}

.card-title {
  font-size: 25px;
}
.country {
  padding: 2px 4px;
  border-radius: 8px;
  font-size: 12px;
}

.sup {
  font-weight: 300;
  font-size: 40px;
}
